# Your personal API key from https://wandb.ai/authorize
WANDB_API_KEY="your 40 character W&B API key"

# Set to 'offline' if you lose internet, or 'disabled' to turn off tracking
WANDB_MODE="online"
WANDB_ENTITY="you username or team name on Weights and Biases"