# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.coverage
dist/
build/

# Test, split, and processed data (if/when added)
data/
data/inference/
data/processed/
data/splits/
data/raw/

# OS and IDE
.DS_Store
.vscode/
.idea/

# Local artifacts
models/*
!models/.gitkeep

# Ignore data contents but keep folder structure
data/*
!data/raw/
!data/processed/
!data/inference/
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/inference/.gitkeep

# pyright
pyrightconfig.json
